<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-docs-social">
      <ul class="bs-docs-social-buttons">
        <li class="follow-btn "><a href="https://twitter.com/EveritOrg" class="twitter-follow-button"
          data-show-count="true">Follow @EveritOrg</a></li>
        <li class="tweet-btn"><a href="https://twitter.com/share" class="twitter-share-button"
          data-url="http://www.everit.org/">Tweet</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/everit.js "></script>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-15041869-4' ]);
	_gaq.push([ '_setDomainName', 'everit.org' ]);
	_gaq.push([ '_trackPageview' ]);
</script>
<script type="text/javascript">
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>